<a href="https://colab.research.google.com/github/nholea/Curso-Python3/blob/main/Tarea22.%20Dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tarea 11 - Dataframes con el módulo **pandas**

## Ejercicio 1

Crea un dataframe con 15 filas y 2 columnas. La primera columna se llamará x, la segunda y. Cada entrada
será un número real a tu elección. Guarda el dataframe en una variable llamada points.

In [1]:
import pandas as pd

In [9]:
data = {"x":[1,2,-3,4,5,-6,7,-8,9,10,11,12,-13,14,-15], "y":[-15,14,-13,12,11,10,-9,8,7,-6,5,4,3,2,-1]}

points= pd.DataFrame(data)
points.head()

   x   y
0  1 -15
1  2  14
2 -3 -13
3  4  12
4  5  11

## Ejercicio 2

Del dataset points, muestra las filas cuyo valor en la columna x sea positivo.

In [11]:
points[points["x"] > 0]

     x   y
0    1 -15
1    2  14
3    4  12
4    5  11
6    7  -9
8    9   7
9   10  -6
10  11   5
11  12   4
13  14   2

## Ejercicio 3

Del dataset points, muestra las filas cuyo valor en la columna y sea negativo. Usa el método .query().

In [12]:
points.query("y < 0")

     x   y
0    1 -15
2   -3 -13
6    7  -9
9   10  -6
14 -15  -1

## Ejercicio 4

Del dataset points, muestra las observaciones cuyos puntos (x, y) pertenezcan al primer cuadrante. Usa el
método .query().

In [14]:
points.query("x >= 0 and y >= 0")

     x   y
1    2  14
3    4  12
4    5  11
8    9   7
10  11   5
11  12   4
13  14   2

## Ejercicio 5

Del dataset points, muestra las observaciones de la forma: “El punto ({x}, {y}) {no/sí} pertenece al primer
cuadrante”.

In [28]:
for i in points.itertuples():
    print("El punto ({}, {}) pertenece al primer cuadrante".format(i[1],i[2], "sí" if i[0] >=0 and i[1] >=0 else "no"))

El punto (1, -15) pertenece al primer cuadrante
El punto (2, 14) pertenece al primer cuadrante
El punto (-3, -13) pertenece al primer cuadrante
El punto (4, 12) pertenece al primer cuadrante
El punto (5, 11) pertenece al primer cuadrante
El punto (-6, 10) pertenece al primer cuadrante
El punto (7, -9) pertenece al primer cuadrante
El punto (-8, 8) pertenece al primer cuadrante
El punto (9, 7) pertenece al primer cuadrante
El punto (10, -6) pertenece al primer cuadrante
El punto (11, 5) pertenece al primer cuadrante
El punto (12, 4) pertenece al primer cuadrante
El punto (-13, 3) pertenece al primer cuadrante
El punto (14, 2) pertenece al primer cuadrante
El punto (-15, -1) pertenece al primer cuadrante

## Ejercicio 6

Crea un dataframe con 10 filas y 4 columnas. La primera columna se llamará word; la segunda, length;
la tercera, vowels; y la última, consonants. La columna words contendrá las siguientes 10 palabras:
“euro”, “diez” “algas”, “broma”, “cicuta”, “fatiga”, “nachos”, “jadeos”, “hazañas”, “boutique”. Las columnas
length, vowels y consonants contendrán, respectivamente, la longitud, el total de vocales y el total de
consonantes. Guarda el dataframe en la variable words.

In [32]:
def vowels_consonants(word):
    vowels = 0
    consonants = 0
    for i in word.lower():
        if i in "aeiouáéíóú":
            vowels +=1
        else:
            consonants +=1
    return vowels,consonants

In [35]:
list_words = ["euro", "diez", "algas", "broma", "cicuta", "fatiga", "nachos", "jadeos", "hazañas", "boutique"]
data = {"word":list_words, "length":map(len,list_words), "vowels":map(lambda x: vowels_consonants(x)[0],list_words), "consonants":map(lambda x: vowels_consonants(x)[1],list_words)}
words = pd.DataFrame(data)
words.head()

     word  length  vowels  consonants
0    euro       4       3           1
1    diez       4       2           2
2   algas       5       2           3
3   broma       5       2           3
4  cicuta       6       3           3

## Ejercicio 7

Muestra las 10 observaciones de words con el formato “La palabra {word} tiene {length} letras, de las cuales
{vowels} son vocales y {consonants} consonantes”

In [38]:
for i in words.itertuples():
    print("La palabra {} tiene {} letras, de las cuales {} son vocales y {} consonantes".format(i[1],i[2],i[3],i[4] ))

La palabra euro tiene 4 letras, de las cuales 3 son vocales y 1 consonantes
La palabra diez tiene 4 letras, de las cuales 2 son vocales y 2 consonantes
La palabra algas tiene 5 letras, de las cuales 2 son vocales y 3 consonantes
La palabra broma tiene 5 letras, de las cuales 2 son vocales y 3 consonantes
La palabra cicuta tiene 6 letras, de las cuales 3 son vocales y 3 consonantes
La palabra fatiga tiene 6 letras, de las cuales 3 son vocales y 3 consonantes
La palabra nachos tiene 6 letras, de las cuales 2 son vocales y 4 consonantes
La palabra jadeos tiene 6 letras, de las cuales 3 son vocales y 3 consonantes
La palabra hazañas tiene 7 letras, de las cuales 3 son vocales y 4 consonantes
La palabra boutique tiene 8 letras, de las cuales 5 son vocales y 3 consonantes

## Ejercicio 8

Muestra aquellas observaciones de words que tienen el mismo número de vocales y consonantes. Usa el
método .query().

In [39]:
words.query("vowels == consonants")

     word  length  vowels  consonants
1    diez       4       2           2
4  cicuta       6       3           3
5  fatiga       6       3           3
7  jadeos       6       3           3

## Ejercicio 9

Investiga el método .sort_values() para ordenar las observaciones según la longitud de las palabras en
orden descendente.

In [40]:
words.sort_values("length",ascending=False)

       word  length  vowels  consonants
9  boutique       8       5           3
8   hazañas       7       3           4
4    cicuta       6       3           3
5    fatiga       6       3           3
6    nachos       6       2           4
7    jadeos       6       3           3
2     algas       5       2           3
3     broma       5       2           3
0      euro       4       3           1
1      diez       4       2           2

## Ejercicio 10

Convierte la columna vowels a lista y, con sorted() ordénala de mayor a menor. Investiga para ello el
método .tolist().

In [44]:
vowels = words["vowels"].tolist()
sorted(vowels, reverse=True)

[5, 3, 3, 3, 3, 3, 2, 2, 2, 2]