<a href="https://colab.research.google.com/github/nholea/Curso-Phyton3/blob/main/Tarea-2.Strings_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tarea 2 -  Strings con Python

## Ejercicio 1

Utiliza las funciones de concatenar, + y repetir strings, *, junto con la función print() para dados los siguientes strings s1, s2, s3 y s4, conseguir el resultado siguiente: **Había una vez,** **un** **barquito chiquitito Había una vez, un barquito chiquitito que no** **podía, que no podía, que no podía navegar.**

In [1]:
s1 = "Había una vez, "
s2 = "un barquito chiquitito "
s3 = "que no podía, "
s4 = "que no podía navegar."

In [2]:
total = (s1 + s2) * 2 + s3 * 2 + s4
print(total)

Había una vez, un barquito chiquitito Había una vez, un barquito chiquitito que no podía, que no podía, que no podía navegar.

## Ejercicio 2

Utiliza la función print() y el comando de salto de línea, \n, para reproducir exactamente el siguiente texto:

Érase un hombre a una nariz pegado,

Érase una nariz superlativa,

Érase una alquitara medio viva,

Érase un peje espada mal barbado;

In [4]:
print("Érase un hombre a una nariz pegado,\nÉrase una nariz superlativa,\nÉrase una alquitara medio viva,\nÉrase un peje espada mal barbado;")

Érase un hombre a una nariz pegado,
Érase una nariz superlativa,
Érase una alquitara medio viva,
Érase un peje espada mal barbado;

## Ejercicio 3

Transforma el siguiente string s a mayúsculas y muéstralo por pantalla con la función print():

In [5]:
s = "me encantan las matemáticas"

In [8]:
 print(s.upper())

ME ENCANTAN LAS MATEMÁTICAS

## Ejercicio 4

Calcula la longitud del string a

In [47]:
a = "Mi pasión por el chocolate es superior a mis fuerzas"

In [49]:
longitud = len(a)
print(longitud)

52

## Ejercicio 5

Del string a del ejercicio anterior, obtén el substring chocolate y guárdalo en una variable llamada s_sub.
No vale contar, deberás hallar los índices del substring con el método .find() (o el que mejor consideres) y
la función len().

Finalmente, imprime tu resultado por pantalla

In [52]:
a = "Mi pasión por el chocolate es superior a mis fuerzas"

word = a.find("chocolate")

s_sub = a[word: (word + len("chocolate") + 1)]

print(s_sub)

chocolate

## Ejercicio 6

Con la función input(), indícale al usuario que introduzca su nombre y guárdalo en la variable llamada
nombre

In [42]:
user_name = input("Introduzca su nombre: ")
nombre = user_name
print(nombre)

Introduzca su nombre: María
María

## Ejercicio 7

Con la función input(), indícale al usuario que introduzca su apellido y guárdalo en la variable llamada
apellido

In [43]:
user_surname = input("Introduzca su apellido: ")
apellido = user_surname
print(apellido)

Introduzca su apellido: Santos
Santos

## Ejercicio 8

Con la función input(), indícale al usuario que introduzca su edad y guárdala en la variable llamada edad.
¡Ojo con el tipo de dato!

In [44]:
user_age = int(input("Introduzca su edad: "))
edad = user_age
print(edad)

Introduzca su edad: 21
21

## Ejercicio 9

Con la función input(), indícale al usuario que introduzca la ciudad en la que vive y guárdala en la variable
llamada ciudad.

In [45]:
user_city = (input("Introduzca la ciudad en la que vive actualmente: "))
ciudad = user_city
print(ciudad)

Introduzca la ciudad en la que vive actualmente: Palma de Mallorca
Palma de Mallorca

## Ejercicio 10

Con lo hecho en los ejercicios 6, 7, 8 y 9, imprime por pantalla todos los datos introducidos por el usuario
tal y como se muestra en el siguiente ejemplo, donde el usuario ha indicado que su nombre es **María**; su
apellido, **Santos**; su edad, **21**; y su ciudad, **Palma de Mallorca**.

**Su nombre es María Santos, tiene 21 años y actualmente vive en Palma de Mallorca**.

In [53]:
user = print("Su nombre es {} {}, tiene {} años y actualmente vive en {}.".format(nombre, apellido, edad, ciudad))

Su nombre es María Santos, tiene 21 años y actualmente vive en Palma de Mallorca.