<a href="https://colab.research.google.com/github/nholea/Curso-Python3/blob/main/Tarea16.%20Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tarea 8 - Estructuras de datos: Tuplas

## Ejercicio 1

Pide al usuario el número de números enteros que va a introducir por teclado. Para cada uno de esos
números, crea una tupla donde la primera entrada sea el número entero y, la segunda, la palabra “par” o
“impar” según la paridad del número entero. Muestra la tupla recién creada al usuario.

In [3]:
num = int(input("¿Cuántos números enteros desea introducir?: "))
nums = []
for i in range(num):
    num1 = int(input())
    if num1 % 2 == 0:
        paridad = "Par"
    else:
        paridad = "Impar"
    nums.append((num1, paridad))
print(nums)

¿Cuántos números enteros desea introducir?: 4
2
1
9
3
[(2, 'Par'), (1, 'Impar'), (9, 'Impar'), (3, 'Impar')]

## Ejercicio 2

Dado un año proporcionado por el usuario, crea una tupla de dos elementos cuya primera entrada sea el año
y, la segunda entrada, el horóscopo chino correspondiente.

In [6]:
year = int(input("Introduzca un año cualquiera: "))
horoscopes = ["Mono", "Gallo", "Perro","Cerdo","Rata", "Buey", "Tigre","Conejo","Dragón","Serpiente","Caballo","Cabra"]
horoscope = horoscopes[year % 12]
result = (year,horoscope)

print(result)

Introduzca un año cualquiera: 1993
(1993, 'Gallo')

## Ejercicio 3

Dada una frase proporcionada por el usuario, crea una lista de tuplas indicando palabra, longitud de cada
palabra, letra inicial y posición que ocupan dentro de la frase.

In [12]:
sentence = input("Introduzca una frase: ").lower()
sentence = sentence.split()
list_touples = []

for i in range(len(sentence)):
    list_touples.append((sentence[i],len(sentence[i]),sentence[i][0],i))

print(list_touples)

Introduzca una frase: El perro de San Roque no tiene rabo
[('el', 2, 'e', 0), ('perro', 5, 'p', 1), ('de', 2, 'd', 2), ('san', 3, 's', 3), ('roque', 5, 'r', 4), ('no', 2, 'n', 5), ('tiene', 5, 't', 6), ('rabo', 4, 'r', 7)]

## Ejercicio 4

Haz que el usuario introduzca palabras hasta que introduzca una palabra vacía. Guarda todas las palabras
en una tupla y muestra la primera y la última introducidas haciendo uso del método unpacking.
PISTA: Para guardar los elementos de uno en uno vas a tener que utilizar un tipo de dato que no es tupla
y luego transformarlo a tupla.

In [16]:
words = input("Introduzca cualquier palabra: ")
list_words = []

while words != "":
    list_words.append((words))
    words = input("Introduzca cualquier palabra: ")

tuple_words = tuple(list_words)
word1, *words, word2 = tuple_words

print("{} ha sido la primera palabra introducido y {} la última".format(word1,word2))

Introduzca cualquier palabra: Manzana
Introduzca cualquier palabra: Pera
Introduzca cualquier palabra: Kiwi
Introduzca cualquier palabra: Sandía
Introduzca cualquier palabra: Melocotón
Introduzca cualquier palabra:
Manzana ha sido la primera palabra introducido y Melocotón la última

## Ejercicio 5

Dada una lista de palabras, crea otra lista del mismo tamaño que guarde la longitud de cada palabra. Usa
la función zip() para crear un diccionario con claves las palabras y valores, su longitud.

In [20]:
fruits = ["Manzana", "Melocotón", "Fresas","Uvas", "Kiwi", "Caqui"]

fruits_len = []

for fruit in fruits:
    fruits_len.append(len(fruit))

dicc = dict(zip(fruits,fruits_len))
print(dicc)

{'Manzana': 7, 'Melocotón': 9, 'Fresas': 6, 'Uvas': 4, 'Kiwi': 4, 'Caqui': 5}

## Ejercicio 6

Haz que el usuario introduzca palabras hasta que introduzca una palabra vacía. Guarda todas las palabras
en una tupla y muestra la tupla y el número total de caracteres que ha introducido.
PISTA: Para guardar los elementos de uno en uno vas a tener que utilizar un tipo de dato que no es tupla
y luego transformarlo a tupla.

In [23]:
words = input("Introduzca cualquier palabra: ")
list_words = []

while words != "":
    list_words.append((words))
    words = input("Introduzca cualquier palabra: ")

tuple_words = tuple(list_words)

total = 0
for i in tuple_words:
    total += len(i)

print("Las palabras introducidas han sido {} con un total de {} caracteres".format(tuple_words, total))

Introduzca cualquier palabra: Manzana
Introduzca cualquier palabra: Pera
Introduzca cualquier palabra: Plátano
Introduzca cualquier palabra: Melón
Introduzca cualquier palabra: Nectarina
Introduzca cualquier palabra:
Las palabras introducidas han sido ('Manzana', 'Pera', 'Plátano', 'Melón', 'Nectarina') con un total de 32 caracteres

## Ejercicio 7

Crea una lista de 20 tuplas de tamaño 2. La primera entrada será un número entero entre 1 y 20 y la segunda
entrada contendrá una lista con los 10 primeros múltiplos del número entero correspondiente. Por último,
muestra las tablas de multiplicar del 1 al 20 con el formato “1 x 1 = 1”.

In [22]:
mult_tables = []

for i in range(1,21):
    mult_tables.append((i, [i * j for j in range(1,11)]))

for item in mult_tables:
    print("------------ TABLA DEL", item[0], "------------")
    for x in item[1]:
        print("{} x {} = {}".format(item[0], item[1].index(x) + 1, x))

------------ TABLA DEL 1 ------------
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
------------ TABLA DEL 2 ------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
------------ TABLA DEL 3 ------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
------------ TABLA DEL 4 ------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
------------ TABLA DEL 5 ------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
------------ TABLA DEL 6 ------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
------------ TABLA DEL 7 ------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
------------ TABLA DEL 8 ------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
------------ TABLA DEL 9 ------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
------------ TABLA DEL 10 ------------
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
------------ TABLA DEL 11 ------------
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110
------------ TABLA DEL 12 ------------
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
------------ TABLA DEL 13 ------------
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130
------------ TABLA DEL 14 ------------
14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140
------------ TABLA DEL 15 ------------
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150
------------ TABLA DEL 16 ------------
16 x 1 = 16
16 x 2 = 32
16 x 3 = 48
16 x 4 = 64
16 x 5 = 80
16 x 6 = 96
16 x 7 = 112
16 x 8 = 128
16 x 9 = 144
16 x 10 = 160
------------ TABLA DEL 17 ------------
17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153
17 x 10 = 170
------------ TABLA DEL 18 ------------
18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
18 x 6 = 108
18 x 7 = 126
18 x 8 = 144
18 x 9 = 162
18 x 10 = 180
------------ TABLA DEL 19 ------------
19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190
------------ TABLA DEL 20 ------------
20 x 1 = 20
20 x 2 = 40
20 x 3 = 60
20 x 4 = 80
20 x 5 = 100
20 x 6 = 120
20 x 7 = 140
20 x 8 = 160
20 x 9 = 180
20 x 10 = 200

## Ejercicio 8

Pide al usuario dos números enteros por teclado. Asegúrate de que el primero es mayor o igual al segundo.
Realiza la división entera y guarda en una tupla el dividendo, el divisor, el cociente y el resto de la divisón
entera realizada y muéstrale al usuario el resultado por pantalla.

In [24]:
num1 = int(input("Introduce un número entero: "))
num2 = int(input("Introduce otro número entero: "))

if num1 >= num2:
    print("Se muestra el dividendo, el divisor, el cociente y el resto de la divisón entera: \n", (num1, num2, num1 // num2, num1 % num2))
else:
    print("El segundo número entero debe ser menor o igual que el primer número introducido")

Introduce un número entero: 64
Introduce otro número entero: 4
Se muestra el dividendo, el divisor, el cociente y el resto de la divisón entera:
 (64, 4, 16, 0)

## Ejercicio 9

Pide al usuario números entre 0 y 360. Para cada número, crea una tupla donde la primera entrada sea
dicho número y, la segunda, la medida angular correspondiente en radianes. Recuerda, 360◦ = 2πrad. En
este caso, utiliza π = 3.141592653589793

In [26]:
num = float(input("Introduce un número entre el 0 y 360: "))

print((num, num * 2 *3.141592653589793/ 360))

Introduce un número entre el 0 y 360: 245.45
(245.45, 4.283910649020082)

## Ejercicio 10

Pide al usuario números complejos. Para cada número, crea una tupla donde la primera entrada sea dicho
número complejo, la segunda, su opuesto y, la tercera, su conjugado.

In [29]:
z = complex(float(input("Introduce la parte real del número complejo: ")), float(input("Introduce la parte imaginaria del número complejo: ")) )

print((z, -z, z.conjugate()) )

Introduce la parte real del número complejo: 5
Introduce la parte imaginaria del número complejo: 12
((5+12j), (-5-12j), (5-12j))